body {
    font-family: 'Frankfurter', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: #E6EEC1;
    color: #394E46;
}

.nav-bar {
    border: 2px solid #394E46; 
}
ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

li {
    list-style: none;
    margin: 4px 0;
}

.home-resume {
    display: flex;
    justify-content: center;
}

.home-resume li {
   margin-right: 4px;
   padding-left: 4px;
}

.blog-projects {
    display: flex;
    justify-content: center;  
}

a {
    text-decoration: none;
    color: #394E46;
}
a:hover{
    color: #B2CFAE;
    
}


